@{
     Layout = "~/Views/Shared/_LayoutSimple.cshtml";
     ViewBag.Title = "Recover";
}
@model SemesterProject.Model.RecoverPasswordData

<div class="account-pages mt-5 mb-5">
     <div class="container">
          <div class="row justify-content-center">
               <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                         <div class="card-body p-4">
                              <div class="text-center w-75 m-auto">
                                   <a href="/Home/Index">
                                        <span><img src="~/assets/images/logo-dark.png" alt="" height="22"></span>
                                   </a>
                                   <p class="text-muted mb-4 mt-3">Enter your new Password.</p>
                              </div>
                              @Html.ValidationSummary(true)
                              @using (Html.BeginForm("Recover", "Login", FormMethod.Post, new { @id = "RecoverForm" }))
                              {
                                   @Html.AntiForgeryToken()
                                   <form action="/" novalidate id="LoginForm" method="post">

                                        <div class="form-group mb-3">
                                             @Html.LabelFor(m => m.Password, new { @class = "Password" })
                                             @Html.TextBoxFor(m => m.Password, new
                                        {
                                             placeholder = "Password",
                                             title = "Enter your Password",
                                             name = "Password",
                                             id = "password",
                                             @class = "form-control"
                                        })
                                        </div>
                                        <div class="form-group">
                                             <label for="password">Repeat Password</label>
                                             <input class="form-control" type="password" required id="repeat-password" placeholder="Repeat your Password" onblur="verificaParole()">
                                        </div>
                                        <button type="submit" class="mb-0 text-center btn btn-primary btn-block" href="#">Change Password</button>
                                   </form>
                              }
                         </div>
                    </div>
                    <div class="row mt-3">
                         <div class="col-12 text-center">
                              <p class="text-muted">Changed your mind? <a href="/Login/Login" class="text-primary font-weight-medium ml-1">Sign In</a></p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>