
@{
     ViewBag.Title = "Index";
}

<div id="video-container">
     <div class="video-overlay"></div>
     <div class="video-content">
          <div class="inner">
               <h1>Welcome to <em>BlueSky Bookings</em></h1>
               <p>OUR WORLDWIDE</p>
               <p>HOLIDAY SALE IS NOW ON !</p>
               <p>Where will you GO next... !</p>
               <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="img/scroll-icon.png" alt=""></a>
               </div>
          </div>
     </div>
     <video autoplay loop muted>
          <source src="~/videos/highway-loop.mp4" type="video/mp4" />
     </video>
</div>


<div class="full-screen-portfolio" id="portfolio">
     <div class="container-fluid">

          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="~/img/Locations/Paris_Wide.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Paris, <em>France</em></h1>
                                        <p>Known for the Eiffel Tower, the Louvre, and Montmartre, Paris is often called the "city of love" and is a top destination for those interested in art, history, and cuisine.</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="~/img/locations/Paris_Small.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="~/img/Locations/Bali_Wide.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Bali, <em>Indonesia</em></h1>
                                        <p> A popular destination for those seeking picturesque beaches, vibrant culture, and wellness and yoga retreats.</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="~/img/locations/Bali_Small.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="~/img/Locations/Barcelona_Wide.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Barcelona, <em>Spain</em></h1>
                                        <p>Famous for Gaudí's architecture, urban beaches, and lively nightlife.</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="~/img/locations/Barcelona_Small.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="~/img/Locations/Islanda_Wide.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Iceland</h1>
                                        <p>Known for its dramatic natural landscapes, including volcanoes, geysers, thermal baths, and the northern lights.</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="~/img/locations/Islanda_Small.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="~/img/Locations/Kyoto_Wide.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Kyoto, <em>Japan</em></h1>
                                        <p>Famous for its temples, zen gardens, and cherry blossom festival, Kyoto offers a window to traditional Japan.</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="~/img/locations/Kyoto_Small.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="~/img/Locations/MașuPicchu_Wide.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Machu Picchu, <em>Peru</em></h1>
                                        <p>The ancient Incan ruins located on the Andes mountain ridges are a marvel for history and nature explorers.</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="~/img/locations/MașuPicchu_Small.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="~/img/Locations/NewYork_Wide.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>New York, <em>USA</em></h1>
                                        <p>The "city that never sleeps" is famous for Broadway, Times Square, and a multitude of world-class museums.</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="~/img/locations/NewYork_Small.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="~/img/Locations/Roma_Wide.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Rome, <em>Italy</em></h1>
                                        <p>With its ancient ruins, the Vatican, and an unmatched culinary scene, Rome is a must-see for history enthusiasts and foodies.</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="~/img/locations/Roma_Small.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>

          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="~/img/Locations/Sydney_Wide.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Sydney, <em>Australia</em></h1>
                                        <p>Known for the Opera House and Harbour Bridge, Sydney offers beautiful beaches and a vibrant city life.</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="~/img/locations/Sydney_Small.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
     </div>
</div>

<div class="popup-icon">
     <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
</div>

<div id="modal" class="modal">
     <div class="modal-content">
          <div class="modal-header">
               <h3 class="header-title">Say hello to <em>Highway</em></h3>
               <div class="close-btn"><img src="img/close_contact.png" alt=""></div>
          </div>
          <div class="modal-body">
               <div class="col-md-6 col-md-offset-3">
                    <form id="contact" action="" method="post">
                         <div class="row">
                              <div class="col-md-12">
                                   <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                                   </fieldset>
                              </div>
                              <div class="col-md-12">
                                   <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                                   </fieldset>
                              </div>
                              <div class="col-md-12">
                                   <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                                   </fieldset>
                              </div>
                              <div class="col-md-12">
                                   <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                                   </fieldset>
                              </div>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>