
@{
     ViewBag.Title = "Index";
}
@model List<SemesterProject.Classes.Items>

<div id="video-container">
     <div class="video-overlay"></div>
     <div class="video-content">
          <div class="inner">
               <h1>Welcome to <em>BlueSky Bookings</em></h1>
               <p>OUR WORLDWIDE</p>
               <p>HOLIDAY SALE IS NOW ON !</p>
               <p>Where will you GO next... !</p>
               <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="img/scroll-icon.png" alt=""></a>
               </div>
          </div>
     </div>
     <video autoplay loop muted>
          <source src="~/videos/highway-loop.mp4" type="video/mp4" />
     </video>
</div>


<div class="full-screen-portfolio" id="portfolio">
     <div class="container-fluid">

          @for (int i = 0; i < Model.Count; i++)
          {
               <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                         <a href="~/Login/Index">
                              <div class="thumb">
                                   <div class="hover-effect">
                                        <div class="hover-content">
                                             <h1>@Model[i].Title, <em>@Model[i].Country</em></h1>
                                             <p>@Model[i].Description</p>
                                        </div>
                                   </div>
                                   <div class="image">
                                        <img src="~/@Model[i].Path_Small">
                                   </div>
                              </div>
                         </a>
                    </div>
               </div>
          }
     </div>
</div>

<div class="popup-icon">
     <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
</div>

<div id="modal" class="modal">
     <div class="modal-content">
          <div class="modal-header">
               <h3 class="header-title">Say hello to <em>Highway</em></h3>
               <div class="close-btn"><img src="img/close_contact.png" alt=""></div>
          </div>
          <div class="modal-body">
               <div class="col-md-6 col-md-offset-3">
                    <form id="contact" action="" method="post">
                         <div class="row">
                              <div class="col-md-12">
                                   <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                                   </fieldset>
                              </div>
                              <div class="col-md-12">
                                   <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                                   </fieldset>
                              </div>
                              <div class="col-md-12">
                                   <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                                   </fieldset>
                              </div>
                              <div class="col-md-12">
                                   <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                                   </fieldset>
                              </div>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>