
@{
     ViewBag.Title = "Index";
}

<div id="video-container">
     <div class="video-overlay"></div>
     <div class="video-content">
          <div class="inner">
               <h1>Welcome to <em>BlueSky Bookings</em></h1>
               <p>OUR WORLDWIDE</p>
               <p>HOLIDAY SALE IS NOW ON !</p>
               <p>Where will you GO next... !</p>
               <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="img/scroll-icon.png" alt=""></a>
               </div>
          </div>
     </div>
     <video autoplay loop muted>
          <source src="~/videos/highway-loop.mp4" type="video/mp4" />
     </video>
</div>


<div class="full-screen-portfolio" id="portfolio">
     <div class="container-fluid">
          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="img/big_portfolio_item_4.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Biodiesel <em>squid</em></h1>
                                        <p>Awesome Subtittle Goes Here</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="img/portfolio_item_4.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="img/big_portfolio_item_2.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>raclette <em>taxidermy</em></h1>
                                        <p>Awesome Subtittle Goes Here</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="img/portfolio_item_2.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="img/big_portfolio_item_3.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>humblebrag <em>brunch</em></h1>
                                        <p>Awesome Subtittle Goes Here</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="img/portfolio_item_3.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="img/big_portfolio_item_1.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Succulents <em>chambray</em></h1>
                                        <p>Awesome Subtittle Goes Here</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="img/portfolio_item_1.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="img/big_portfolio_item_5.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>freegan <em>aesthetic</em></h1>
                                        <p>Awesome Subtittle Goes Here</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="img/portfolio_item_5.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="img/big_portfolio_item_6.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>taiyaki <em>vegan</em></h1>
                                        <p>Awesome Subtittle Goes Here</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="img/portfolio_item_6.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="img/big_portfolio_item_7.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>Thundercats <em>santo</em></h1>
                                        <p>Awesome Subtittle Goes Here</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="img/portfolio_item_7.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="img/big_portfolio_item_8.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>wayfarers <em>yuccie</em></h1>
                                        <p>Awesome Subtittle Goes Here</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="img/portfolio_item_8.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
          <div class="col-md-4 col-sm-6">
               <div class="portfolio-item">
                    <a href="img/big_portfolio_item_9.jpg" data-lightbox="image-1">
                         <div class="thumb">
                              <div class="hover-effect">
                                   <div class="hover-content">
                                        <h1>disrupt <em>street</em></h1>
                                        <p>Awesome Subtittle Goes Here</p>
                                   </div>
                              </div>
                              <div class="image">
                                   <img src="img/portfolio_item_9.jpg">
                              </div>
                         </div>
                    </a>
               </div>
          </div>
     </div>
</div>

<div class="popup-icon">
     <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
</div>

<div id="modal" class="modal">
     <div class="modal-content">
          <div class="modal-header">
               <h3 class="header-title">Say hello to <em>Highway</em></h3>
               <div class="close-btn"><img src="img/close_contact.png" alt=""></div>
          </div>
          <div class="modal-body">
               <div class="col-md-6 col-md-offset-3">
                    <form id="contact" action="" method="post">
                         <div class="row">
                              <div class="col-md-12">
                                   <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                                   </fieldset>
                              </div>
                              <div class="col-md-12">
                                   <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                                   </fieldset>
                              </div>
                              <div class="col-md-12">
                                   <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                                   </fieldset>
                              </div>
                              <div class="col-md-12">
                                   <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                                   </fieldset>
                              </div>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>