
@{
     ViewBag.Title = "_Footer";
}

<footer class="footer">
     <div class="container-fluid">
          <div class="row">
               <div class="col-md-6">
                    &copy; 2024 BlueSky Bookings by Pînzaru Ciprian and Toma Daniel
               </div>
               <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                    </div>
               </div>
          </div>
     </div>
</footer>