
@{
    ViewBag.Title = "_Footer";
}

<footer>
     <div class="container-fluid">
          <div class="col-md-12">
               <p>
                    Copyright &copy; 2024 BlueSky Bookings

                    | Designed by Toma Daniel and Pinzaru Ciprian
               </p>
          </div>
     </div>
</footer>

