
@{
     ViewBag.Title = "_Footer";
}

<footer>
     <div class="container-fluid">
          <div class="col-md-12">
               <p>
                    Copyright &copy; 2018 Company Name

                    | Designed by TemplateMo
               </p>
          </div>
     </div>
</footer>