
@{
     ViewBag.Title = "_Header";
}

<nav>
     <div class="logo">
          <a href="index.html">High<em>way</em></a>
     </div>
     <div class="menu-icon">
          <span></span>
     </div>
</nav>