@using System.Web.Optimization;

<head>
     <meta name="viewport" content="width=device-width" />
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <title>BlueSky Bookings</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" type="text/css" href="~/css/login/main.css">
     <link rel="stylesheet" type="text/css" href="~/css/login/util.css">
     <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
     @RenderBody()
</body>
