@using System.Web.Optimization;

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <title>Minton - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
     <meta content="Coderthemes" name="author" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <link rel="shortcut icon" href="~/assets/images/favicon.ico">

     @Styles.Render("~/assets/css")
</head>

<body>
     @RenderBody()
     @Html.Partial("_Footer")

     @Scripts.Render("~/assets/js")

</body>
</html>