@using System.Web.Optimization;
<head>
     <meta name="viewport" content="width=device-width" />
     @Styles.Render("~/css/login")
</head>

<body>
     @RenderBody()
     @Scripts.Render("~/js/login")
</body>
