@using System.Web.Optimization;

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <title>Minton - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="~/assets/images/favicon.ico">

     <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
     <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
     <header id="topnav">
          @Html.Partial("_Header")
          @Html.Partial("_Navigation")
     </header>
     <div class="wrapper">
          <div class="container-fluid">
               @RenderBody()
          </div>
     </div>
     
     @Html.Partial("_Footer")

     <script src="~/assets/js/vendor.min.js"></script>
</body>
</html>