
@{
    ViewBag.Title = "_Navigation";
}

<div class="topbar-menu">
     <div class="container-fluid">
          <div id="navigation">
               <ul class="list-unstyled topnav-menu topnav-menu-left m-0 navigation-menu">

                    <li class="dropdown dropdown-mega d-none d-lg-block">
                         <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                              Destinations
                              <i class="mdi mdi-chevron-down"></i>
                         </a>
                         <div class="dropdown-menu dropdown-megamenu">
                              <div class="row">
                                   <div class="col-sm-8">
                                        <div class="row">

                                             <div class="col-md-4">
                                                  <h5 class="text-dark mt-0">Winter Holidays</h5>
                                                  <ul class="list-unstyled megamenu-list">
                                                       <li>
                                                            <a href="/Search/SearchPage">ANDERMATT, Switzerland</a>
                                                       </li>
                                                       <li>
                                                            <a href="/Search/SearchPage">BURLINGTON, Vermont</a>
                                                       </li>
                                                       <li>
                                                            <a href="/Search/SearchPage">SEOUL, South Korea</a>
                                                       </li>
                                                     
                                                  </ul>
                                             </div>

                                             <div class="col-md-4">
                                                  <h5 class="text-dark mt-0">Summer Holidays</h5>
                                                  <ul class="list-unstyled megamenu-list">
                                                       <li>
                                                            <a href="/Search/SearchPage">BORA BORA, French Polynesia</a>
                                                       </li>
                                                       <li>
                                                            <a href="/Search/SearchPage">HAWAII, USA</a>
                                                       </li>
                                                       <li>
                                                            <a href="/Search/SearchPage">MALDIVES</a>
                                                       </li>
                                                  </ul>
                                             </div>

                                             <div class="col-md-4">
                                                  <h5 class="text-dark mt-0">HoneyMoon Holidays</h5>
                                                  <ul class="list-unstyled megamenu-list">
                                                       <li>
                                                            <a href="/Search/SearchPage">COMPORTA, Portugal</a>
                                                       </li>
                                                       <li>
                                                            <a href="/Search/SearchPage">VENICE, Italy</a>
                                                       </li>
                                                       <li>
                                                            <a href="/Search/SearchPage">PARIS, France</a>
                                                       </li>
                                                  </ul>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="col-sm-4">
                                        <div class="text-center mt-3">
                                             <h3 class="text-dark">Special Discount Sale!</h3>
                                             <h4>Save up to 70% off.</h4>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </li>

                    <li class="dropdown d-none d-lg-block">
                         <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                              Mini Menu
                              <i class="mdi mdi-chevron-down"></i>
                         </a>

                         <div class="dropdown-menu">
                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>

                              <div class="dropdown-divider"></div>

                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>

                              <div class="dropdown-divider"></div>

                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>
                         </div>
                    </li>

                    <li class="dropdown d-none d-lg-block">
                         <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                              Mini Menu
                              <i class="mdi mdi-chevron-down"></i>
                         </a>

                         <div class="dropdown-menu">
                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>

                              <div class="dropdown-divider"></div>

                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>

                              <div class="dropdown-divider"></div>

                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>
                         </div>
                    </li>

                    <li class="dropdown d-none d-lg-block">
                         <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                              Mini Menu
                              <i class="mdi mdi-chevron-down"></i>
                         </a>

                         <div class="dropdown-menu">
                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>

                              <div class="dropdown-divider"></div>

                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>

                              <div class="dropdown-divider"></div>

                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>
                         </div>
                    </li>

                    <li class="dropdown d-none d-lg-block">
                         <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                              Mini Menu
                              <i class="mdi mdi-chevron-down"></i>
                         </a>

                         <div class="dropdown-menu">
                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>

                              <div class="dropdown-divider"></div>

                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>

                              <div class="dropdown-divider"></div>

                              <a href="#" class="dropdown-item">
                                   <i class="fe-bar-chart-line- mr-1"></i>
                                   <span>Items</span>
                              </a>
                         </div>
                    </li>

               </ul>
          </div>
     </div>
</div>