
@{
    ViewBag.Title = "_Navigation";
}

<section class="overlay-menu">
     <div class="container">
          <div class="row">
               <div class="main-menu">
                    <ul>
                         <li>
                              <a href="#">Beach Holidays</a>
                         </li>
                         <li>
                              <a href="#">Christmas Holidays</a>
                         </li>
                         <li>
                              <a href="#">HoneyMoons</a>
                         </li>
                         <li>
                              <a href="#">Special Offers</a>
                         </li>
                         <li>
                              <a href="#">About Us</a>
                         </li>
                         <li>
                              <a href="#">Login</a>
                         </li>
                         <li>
                              <a href="#">Contact Us</a>
                         </li>
                    </ul>
                    <p>Best Holidays With Us</p>
               </div>
          </div>
     </div>
</section>

